.login{
    background-color: var(--roxo);
    padding: 40px;
    margin-top: 80px;
}

.login__container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 40px 20px 20px ;
    width: 75%;
    background-color: var(--cor-de-fundo);
    border-radius: 8px;
}

.login__container h1{
    font-size: 25px;
    color: var(--cinza-escuro);
    line-height: 32px;
}

.login__container form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.login__container form h2{
    font-weight: 400;
    font-size: 12px;
}

.login__container form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.login__container input, .login__container button{
    width: 100%;
    height: auto;
    border: 1px solid var(--cinza) ;
    border-radius: 5px;
    font-family: var(--fonte);
    padding: 12px;
}

.login__container input::placeholder{
    font-family: var(--fonte);
    
}


.login__container input:focus::placeholder{
    color: transparent;
}



.login__container form p{
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    color: var(--roxo);
    font-size: 12px;
    text-align: end;
    margin-top: 0;
    cursor: pointer;
    transition: 0.5s;
}

.login__container form p:hover{
    color: var(--cinza);
}

.login__btn__entrar, .login button, .login h2{
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
}

.login__btn__entrar{
    background-color: var(--roxo);
    color: var(--cor-de-fundo);
    border: none;
    opacity: 0.6;
    height: auto;
}


.login__btn__entrar:hover{
   opacity: 1;
}

.login__container button:hover{
    background-color: var(--cinza-escuro);
    color: var(--cor-de-fundo);
}

@media screen and (min-width: 850px){
    .login__container form{
        width: 500px;
        text-align: center;
        margin: 0 auto;
    }

}